*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

.nav{
    background: #3E8989;
    
}
.header_nav{
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 32px;
    
}


.header_nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    
}
.header_nav-link{
    color: #FFF;
    font-size: 16px;
    line-height: normal;
    font-family: 'RM';
    transition: color 500ms;
    
    

    
}
.header_nav-link:hover{
    color: purple;
    opacity: 1;
}



.header_nav-link::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    border-radius: 5px;
    background: #FFF;
    margin-top: 5px;
    opacity: 1;
    transition: opacity 500ms color 500ms;
}
/* .header_nav-link::after:hover {
    color: purple;
    opacity: 100%;
} */


.header__content{
    background: url(../images/pic.png) no-repeat center /cover;
    text-align: center;
    height: 800px;

}

.header__content-text{
    color: #FFF;
    font-size: 80px;
    font-family: 'RSB';
    line-height: normal;
    padding-top: 250px;

}
.header__content-secondtext{
    font-family: 'RSB';
    color: #FFF;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 50px;
   

}
.header_content-link{
    font-family: 'ISB';
    color: #FFF;
    font-size: 18px;
    line-height: normal;
    border-radius: 30px;
    background: #B4436C;
    padding: 14px 77px;
    transition: color 400ms, background 400ms;
}
.header_content-link:hover{
    color: #B4436C;
    background: #FFF;
}
.middle__content-item{
    display: flex;
    justify-content: space-between;
}
.middle__content-h2{
    text-align: center;
    color: #3E8989;
    font-size: 40px;
    line-height: normal;
    font-family: 'RR';
    margin-top: 80px;
    margin-bottom: 50px;
}
.middle__content-img{
    width: 545px;
    height: 261px;    
}

.middle__content-text {
    color: #000;
    font-family: 'RM';
    font-size: 18px;
    line-height: normal;
    width: 545px;
    margin-bottom: 20px;
}

.middle__text{
    gap: 20px;
}
.last__content-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.item{
    width: 263px;
    height: 300px;
    background: #EFEFEF;
    margin-bottom: 32px;
}

.last__content-h{
    margin-top: 97px;
    margin-bottom: 53px;
    text-align: center;
    color: #3E8989;
    font-size: 40px;
    line-height: normal;
    font-family: 'RR';
}
.item__text{
    color: #000;
    font-family: 'ISB';
    font-size: 24px;
    font-style: normal;
    line-height: normal;

}
.last__content-img1{
    margin-top: 1px;
    margin-left: 33px;
}
.last__content-img2{
    margin-left: 23px;
    margin-top: 77px;
}
.last__content-img4{
   
    margin-top: 19px;
}
.last__content-img3{
    margin-left: 2px;
    margin-top: 75px;
}
.item__text{
    text-align: center;
    color: #000;
    font-size: 24px;
    line-height: normal;
    font-family: 'ISB';
    transition: color 400ms;

}
.item__text:hover{
    color: #B4436C;
}
.last__box-h2{
    margin-top: 97px;
    margin-bottom: 53px;
    color: #3E8989;
    font-size: 40px;
    line-height: normal;
    font-family: 'RR';
    margin-top: 100px;
}
.last__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last_box-txt{
    width: 555px;
    color: #000;
    font-size: 20px;
    line-height: normal;
    font-family: 'RSB';
    margin-bottom: 25px;
}
.last__box-right p{
    margin-left: 400px;
}

.footer{
    background: #3E8989;
}
.footer__nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
    
}
.footer__nav-link{
    color: #FFF;
    font-size: 16px;
    line-height: normal;
    font-family: 'RM';
    transition: color 500ms;
}
.footer__nav-link:hover{
    color: purple;
}
.footer_text{
    color: #FFF;
    font-family: 'RR';
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 59px;
}